body{
    background-color: rgb(44, 44, 43);
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
}
h2{color: white;font-family: 'Times New Roman', Times, serif;}
p{
    text-align: center;
    color: white;
}
img{
    text-align: center;
    }